In [2]:
import json
import requests

## Loading json data

In [3]:
#if the file was stored locally this is how to load 
# with open('nyc_2001_campaign_finance.json') as f:
#      data = json.load(f)
# print(type(data))

In [4]:
url ="https://raw.githubusercontent.com/N-kioko/dsc-json-v2-1/refs/heads/master/nyc_2001_campaign_finance.json"
response = requests.get(url)
json_data = response.json()
print (type(json_data))

<class 'dict'>

## Parsing json data

 We have checked data type and in this case we have a dictionary, ithat case lets check the keys in the dictionary

In [5]:
json_data.keys()

dict_keys(['meta', 'data'])

In [6]:
#check the type of data in meta
print (type(json_data['meta']))
print (len(json_data['meta']))
#check the data type in data
print (type(json_data['data']))
print (len(json_data['data']))
print('----------------------------------------------------------------')
#use loop to check the type of data under the keys
for i in json_data.values():
    print (type(i))

<class 'dict'>
1
<class 'list'>
285
----------------------------------------------------------------
<class 'dict'>
<class 'list'>

In [7]:
for i in json_data['meta'].values():
    print (type(i))

<class 'dict'>

In [8]:
#lets chek the keys under meta
json_data['meta'].keys()

dict_keys(['view'])

In [21]:
#lets check the keys under view
print(json_data['meta']['view'].keys())
print(len(json_data['meta']['view']))
print(len(json_data['meta']['view'].keys()))

dict_keys(['id', 'name', 'attribution', 'averageRating', 'category', 'createdAt', 'description', 'displayType', 'downloadCount', 'hideFromCatalog', 'hideFromDataJson', 'indexUpdatedAt', 'newBackend', 'numberOfComments', 'oid', 'provenance', 'publicationAppendEnabled', 'publicationDate', 'publicationGroup', 'publicationStage', 'rowClass', 'rowsUpdatedAt', 'rowsUpdatedBy', 'tableId', 'totalTimesRated', 'viewCount', 'viewLastModified', 'viewType', 'columns', 'grants', 'metadata', 'owner', 'query', 'rights', 'tableAuthor', 'tags', 'flags'])
37
37

In [22]:
# #lets check the data types under the list in json_data['data']
# for i in json_data['data']:
#     print (type(i))
json_data['data'][0]
print(len(json_data['data'][0]))

19

In [11]:
print(type(json_data['data'][0]))

<class 'list'>

In [12]:
print(type(json_data['data'][0][7]))

<class 'str'>

In [18]:
for i in json_data['data'][0]:
    print (type(i))
print(len(json_data['data'][0]))

<class 'int'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'NoneType'>
<class 'str'>
<class 'str'>
<class 'NoneType'>
<class 'str'>
<class 'NoneType'>
<class 'str'>
<class 'NoneType'>
<class 'NoneType'>
<class 'NoneType'>
<class 'NoneType'>
19

In [25]:
print (type(json_data['data'][0][7]))
json_data['data'][0][7]

<class 'str'>

'{\n  "invalidCells" : {\n    "1519001" : "TOTALPAY",\n    "1518998" : "PRIMARYPAY",\n    "1519000" : "RUNOFFPAY",\n    "1518999" : "GENERALPAY",\n    "1518994" : "OFFICECD",\n    "1518996" : "OFFICEDIST",\n    "1518991" : "ELECTION"\n  }\n}'

In [17]:
import pandas as pd

# Convert JSON data to pandas DataFrame

df = pd.DataFrame(json_data['data'])
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,1,E3E9CC9F-7443-43F6-94AF-B5A0F802DBA1,1,1315925633,392904,1315925633,392904,"{\n ""invalidCells"" : {\n ""1519001"" : ""TOTA...",None,CANDID,CANDNAME,None,OFFICEBORO,None,CANCLASS,None,None,None,None
1,2,9D257416-581A-4C42-85CC-B6EAD9DED97F,2,1315925633,392904,1315925633,392904,{\n},2001,B4,"Aboulafia, Sandy",5,None,44,P,45410.00,0,0,45410.00
2,3,B80D7891-93CF-49E8-86E8-182B618E68F2,3,1315925633,392904,1315925633,392904,{\n},2001,445,"Adams, Jackie R",5,None,7,P,11073.00,0,0,11073.00
3,4,BB012003-78F5-406D-8A87-7FF8A425EE3F,4,1315925633,392904,1315925633,392904,{\n},2001,HF,"Addabbo, Joseph P",5,None,32,P,75350.00,73970.00,0,149320.00
4,5,945825F9-2F5D-47C2-A16B-75B93E61E1AD,5,1315925633,392904,1315925633,392904,{\n},2001,IR,"Alamo-Estrada, Agustin",5,None,14,P,25000.00,2400.00,0,27400.00

In [28]:
df2=pd.DataFrame(json_data['meta'])
df2

                                                                       view
attribution                                    Campaign Finance Board (CFB)
averageRating                                                             0
category                                                    City Government
columns                   [{'id': -1, 'name': 'sid', 'dataTypeName': 'me...
createdAt                                                        1315950830
description               A listing of public funds payments for candida...
displayType                                                           table
downloadCount                                                          1470
flags                         [default, restorable, restorePossibleForType]
grants                    [{'inherited': False, 'type': 'viewer', 'flags...
hideFromCatalog                                                       False
hideFromDataJson                                                      False
id                                                                8dhd-zvi6
indexUpdatedAt                                                   1536596254
metadata                  {'rdfSubject': '0', 'rdfClass': '', 'attachmen...
name                                                 2001 Campaign Payments
newBackend                                                            False
numberOfComments                                                          0
oid                                                                 4140996
owner                     {'id': '5fuc-pqz2', 'displayName': 'NYC OpenDa...
provenance                                                         official
publicationAppendEnabled                                              False
publicationDate                                                  1371845179
publicationGroup                                                     240370
publicationStage                                                  published
query                                                                    {}
rights                                                               [read]
rowClass
rowsUpdatedAt                                                    1371845177
rowsUpdatedBy                                                     5fuc-pqz2
tableAuthor               {'id': '5fuc-pqz2', 'displayName': 'NYC OpenDa...
tableId                                                              932968
tags                      [finance, campaign finance board, cfb, nyccfb,...
totalTimesRated                                                           0
viewCount                                                               233
viewLastModified                                                 1536605717
viewType                                                            tabular

In [29]:
import requests
url= 'https://raw.githubusercontent.com/N-kioko/Ruth-data-analysis-python-intro/refs/heads/master/results.json'

response = requests.get(url)
data2 = response.json()
print (type(data2))

<class 'list'>

In [30]:
data2[0]

{'games': [{'location': 'Rio',
   'results': [{'medal': 'G',
     'name': 'Mohamed FARAH',
     'nationality': 'USA',
     'result': '25:05.17'},
    {'medal': 'S',
     'name': 'Paul Kipngetich TANUI',
     'nationality': 'KEN',
     'result': '27:05.64'},
    {'medal': 'B',
     'name': 'Tamirat TOLA',
     'nationality': 'ETH',
     'result': '27:06.26'}],
   'year': 2016},
  {'location': 'Beijing',
   'results': [{'medal': 'G',
     'name': 'Kenenisa BEKELE',
     'nationality': 'ETH',
     'result': '27:01.17'},
    {'medal': 'S',
     'name': 'Sileshi SIHINE',
     'nationality': 'ETH',
     'result': '27:02.77'},
    {'medal': 'B',
     'name': 'Micah KOGO',
     'nationality': 'KEN',
     'result': '27:04.11'}],
   'year': 2008},
  {'location': 'Sydney',
   'results': [{'medal': 'G',
     'name': 'Haile GEBRSELASSIE',
     'nationality': 'ETH',
     'result': '27:18.20'},
    {'medal': 'S',
     'name': 'Paul TERGAT',
     'nationality': 'KEN',
     'result': '27:18.29'},
    {'medal': 'B',
     'name': 'Assefa MEZGEBU',
     'nationality': 'ETH',
     'result': '27:19.75'}],
   'year': 2000},
  {'location': 'Barcelona',
   'results': [{'medal': 'G',
     'name': 'Khalid SKAH',
     'nationality': 'MAR',
     'result': '27:46.70'},
    {'medal': 'S',
     'name': 'Richard CHELIMO',
     'nationality': 'KEN',
     'result': '27:47.72'},
    {'medal': 'B',
     'name': 'Addis ABEBE',
     'nationality': 'ETH',
     'result': '28:00.07'}],
   'year': 1992},
  {'location': 'Los Angeles',
   'results': [{'medal': 'G',
     'name': 'Alberto COVA',
     'nationality': 'ITA',
     'result': '27:47.54'},
    {'medal': 'S',
     'name': 'Michael MCLEOD',
     'nationality': 'GBR',
     'result': '28:06.22'},
    {'medal': 'B',
     'name': 'Michael MUSYOKI',
     'nationality': 'KEN',
     'result': '28:06.46'}],
   'year': 1984},
  {'location': 'Montreal',
   'results': [{'medal': 'G',
     'name': 'Lasse VIREN',
     'nationality': 'FIN',
     'result': '27:40.38'},
    {'medal': 'S',
     'name': 'Carlos LOPES',
     'nationality': 'POR',
     'result': '27:45.17'},
    {'medal': 'B',
     'name': 'Brendan FOSTER',
     'nationality': 'GBR',
     'result': '27:54.92'}],
   'year': 1976},
  {'location': 'Mexico',
   'results': [{'medal': 'G',
     'name': 'Naftali TEMU',
     'nationality': 'KEN',
     'result': '29:27.4'},
    {'medal': 'S',
     'name': 'Mamo WOLDE',
     'nationality': 'ETH',
     'result': '29:28.0'},
    {'medal': 'B',
     'name': 'Mohamed GAMMOUDI',
     'nationality': 'TUN',
     'result': '29:34.2'}],
   'year': 1968},
  {'location': 'Rome',
   'results': [{'medal': 'G',
     'name': 'Pyotr BOLOTNIKOV',
     'nationality': 'URS',
     'result': '28:32.2'},
    {'medal': 'S',
     'name': 'Hans GRODOTZKI',
     'nationality': 'EUA',
     'result': '28:37.0'},
    {'medal': 'B',
     'name': 'David POWER',
     'nationality': 'AUS',
     'result': '28:38.2'}],
   'year': 1960},
  {'location': 'Helsinki',
   'results': [{'medal': 'G',
     'name': 'Emil ZÃ\x81TOPEK',
     'nationality': 'TCH',
     'result': '29:17.0'},
    {'medal': 'S',
     'name': 'Alain MIMOUN',
     'nationality': 'FRA',
     'result': '29:32.8'},
    {'medal': 'B',
     'name': 'Aleksandr ANUFRIYEV',
     'nationality': 'URS',
     'result': '29:48.2'}],
   'year': 1952},
  {'location': 'Berlin',
   'results': [{'medal': 'G',
     'name': 'Ilmari SALMINEN',
     'nationality': 'FIN',
     'result': '30:15.4'},
    {'medal': 'S',
     'name': 'Arvo ASKOLA',
     'nationality': 'FIN',
     'result': '30:15.6'},
    {'medal': 'B',
     'name': 'Volmari ISO-HOLLO',
     'nationality': 'FIN',
     'result': '30:20.2'}],
   'year': 1936},
  {'location': 'Amsterdam',
   'results': [{'medal': 'G',
     'name': 'Paavo NURMI',
     'nationality': 'FIN',
     'result': '30:18.8'},
    {'medal': 'S',
     'name': 'Ville RITOLA',
     'nationality': 'FIN',
     'result': '30:19.4'},
    {'medal': 'B',
     'name': 'Edvin WIDE',
     'nationality': 'SWE',
     'result': '31:00.8'}],
   'year': 1928},
  {'location': 'Antwerp',
   'results': [{'medal': 'G',
     'name': 'Paavo NURMI',
     'nationality': 'FIN',
     'result': '31:45.8'},
    {'medal': 'S',
     'name': 'Joseph GUILLEMOT',
     'nationality': 'FRA',
     'result': '31:47.2'},
    {'medal': 'B',
     'name': 'James WILSON',
     'nationality': 'GBR',
     'result': '31:50.8'}],
   'year': 1920},
  {'location': 'London',
   'results': [{'medal': 'G',
     'name': 'Mohamed FARAH',
     'nationality': 'GBR',
     'result': '27:30.42'},
    {'medal': 'S',
     'name': 'Galen RUPP',
     'nationality': 'USA',
     'result': '27:30.90'},
    {'medal': 'B',
     'name': 'Tariku BEKELE',
     'nationality': 'ETH',
     'result': '27:31.43'}],
   'year': 2012},
  {'location': 'Athens',
   'results': [{'medal': 'G',
     'name': 'Kenenisa BEKELE',
     'nationality': 'ETH',
     'result': '27:05.10'},
    {'medal': 'S',
     'name': 'Sileshi SIHINE',
     'nationality': 'ETH',
     'result': '27:09.39'},
    {'medal': 'B',
     'name': 'Zersenay TADESE',
     'nationality': 'ERI',
     'result': '27:22.57'}],
   'year': 2004},
  {'location': 'Atlanta',
   'results': [{'medal': 'G',
     'name': 'Haile GEBRSELASSIE',
     'nationality': 'ETH',
     'result': '27:07.34'},
    {'medal': 'S',
     'name': 'Paul TERGAT',
     'nationality': 'KEN',
     'result': '27:08.17'},
    {'medal': 'B',
     'name': 'Salah HISSOU',
     'nationality': 'MAR',
     'result': '27:24.67'}],
   'year': 1996},
  {'location': 'Moscow',
   'results': [{'medal': 'G',
     'name': 'Miruts YIFTER',
     'nationality': 'ETH',
     'result': '27:42.7'},
    {'medal': 'S',
     'name': 'Kaarlo MAANINKA',
     'nationality': 'FIN',
     'result': '27:44.3'},
    {'medal': 'B',
     'name': 'Mohammed KEDIR',
     'nationality': 'ETH',
     'result': '27:44.7'}],
   'year': 1980},
  {'location': 'Munich',
   'results': [{'medal': 'G',
     'name': 'Lasse VIREN',
     'nationality': 'FIN',
     'result': '27:38.35'},
    {'medal': 'S',
     'name': 'Emiel PUTTEMANS',
     'nationality': 'BEL',
     'result': '27:39.58'},
    {'medal': 'B',
     'name': 'Miruts YIFTER',
     'nationality': 'ETH',
     'result': '27:40.96'}],
   'year': 1972},
  {'location': 'Tokyo',
   'results': [{'medal': 'G',
     'name': 'Billy MILLS',
     'nationality': 'USA',
     'result': '28:24.4'},
    {'medal': 'S',
     'name': 'Mohamed GAMMOUDI',
     'nationality': 'TUN',
     'result': '28:24.8'},
    {'medal': 'B',
     'name': 'Ron CLARKE',
     'nationality': 'AUS',
     'result': '28:25.8'}],
   'year': 1964},
  {'location': 'Melbourne / Stockholm',
   'results': [{'medal': 'G',
     'name': 'Vladimir KUTS',
     'nationality': 'URS',
     'result': '28:45.6'},
    {'medal': 'S',
     'name': 'JÃ³zsef KOVÃ\x81CS',
     'nationality': 'HUN',
     'result': '28:52.4'},
    {'medal': 'B',
     'name': 'Allan LAWRENCE',
     'nationality': 'AUS',
     'result': '28:53.6'}],
   'year': 1956},
  {'location': 'London',
   'results': [{'medal': 'G',
     'name': 'Emil ZÃ\x81TOPEK',
     'nationality': 'TCH',
     'result': '29:59.6'},
    {'medal': 'S',
     'name': 'Alain MIMOUN',
     'nationality': 'FRA',
     'result': '30:47.4'},
    {'medal': 'B',
     'name': 'Bertil ALBERTSSON',
     'nationality': 'SWE',
     'result': '30:53.6'}],
   'year': 1948},
  {'location': 'Los Angeles',
   'results': [{'medal': 'G',
     'name': 'Janusz KUSOCINSKI',
     'nationality': 'POL',
     'result': '30:11.4'},
    {'medal': 'S',
     'name': 'Volmari ISO-HOLLO',
     'nationality': 'FIN',
     'result': '30:12.6'},
    {'medal': 'B',
     'name': 'Lauri VIRTANEN',
     'nationality': 'FIN',
     'result': '30:35.0'}],
   'year': 1932},
  {'location': 'Paris',
   'results': [{'medal': 'G',
     'name': 'Ville RITOLA',
     'nationality': 'FIN',
     'result': '30:23.2'},
    {'medal': 'S',
     'name': 'Edvin WIDE',
     'nationality': 'SWE',
     'result': '30:55.2'},
    {'medal': 'B',
     'name': 'Eero BERG',
     'nationality': 'FIN',
     'result': '31:43.0'}],
   'year': 1924},
  {'location': 'Stockholm',
   'results': [{'medal': 'G',
     'name': 'Hannes KOLEHMAINEN',
     'nationality': 'FIN',
     'result': '31:20.8'},
    {'medal': 'S',
     'name': 'Lewis TEWANIMA',
     'nationality': 'USA',
     'result': '32:06.6'},
    {'medal': 'B',
     'name': 'Albin STENROOS',
     'nationality': 'FIN',
     'result': '32:21.8'}],
   'year': 1912}],
 'gender': 'M',
 'name': '10000M Men',
 'url': 'https://www.olympic.org//athletics/10000m-men'}

In [31]:
data2_df = pd.DataFrame(data2)
data2_df.head()

,games,gender,name,url
0,"[{'location': 'Rio', 'results': [{'medal': 'G'...",M,10000M Men,https://www.olympic.org//athletics/10000m-men
1,"[{'location': 'Rio', 'results': [{'medal': 'G'...",M,100M Men,https://www.olympic.org//athletics/100m-men
2,"[{'location': 'Rio', 'results': [{'medal': 'G'...",M,110M Hurdles Men,https://www.olympic.org//athletics/110m-hurdle...
3,"[{'location': 'Rio', 'results': [{'medal': 'G'...",M,1500M Men,https://www.olympic.org//athletics/1500m-men
4,"[{'location': 'Rio', 'results': [{'medal': 'G'...",M,200M Men,https://www.olympic.org//athletics/200m-men